{{template "base" .}}

{{define "content"}}
<div class="container">
            <div class="row">
                <h1>  This is Home page </h1>
                <p> Hello Santosh</p>
            </div>
        </div>
{{end}}